.login-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form-content{
    display: flex;
    border-radius: 15px;
    height: 250px;
    width: 350px;
    background: linear-gradient(to bottom, var(--blue), var(--dark-blue));
}
